body {
	text-align: center;
	color: #ecebe6;
	background: #071E3E;
	background-color: #071E3E;
}

#theone {
	text-align: center;
	color: #ecebe6;
	background: #071E3E;
	background-color: #071E3E;
	padding:0;
	margin:0;
}

#useforce {
	background: #071E3E;
	background-color: #071E3E;
}

.navbar {
	background: #071E3E;
	background-color: #071E3E;
	border-bottom: solid;
	margin: 0;
	padding:0;
	width: 100%;
}

navbar {
	background: #071E3E;
	background-color: #071E3E;
	border-bottom: solid;
	margin: 0;
	padding:0;
	width: 100%;
}

.navbar-nav > li > a {
	padding-top: 15px;
	/* padding-bottom: 15px; */
}

.navbar .imnav {
	width: 44px;
}


.navbar-default .navbar-fixed-top {
	/* background-color: #f8f8f8; */
	background-color: #071E3E;
}

.topnav {
	background-color: #071E3E;
}

.topnav .container {
	width:100%;
}

.navbar img {
	/*width: 204px;*/
	height: 35px;
	display: block;
}

.navbar li a {
	padding-bottom: 5px;
}

.navbar .imnav {
	width: 55px;
}

#tnavlogo {
	padding-right: 10px;
}

#rnavlogo {
	padding-left: 0;
}

#aboutim {
	width: 40px;
	margin-right: 15px;
}
.head {
	width: 100%;
	height: 50px;
	background: #555;
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: solid;
}


.head hr {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.container {
	width: 100%;
	border-bottom: solid 4px;
	padding:0;
	margin:0;
	background-color: #071E3E;
	
}

.container-fluid {
	border-bottom: solid 4px;
}

#topnav {
	border-bottom: none;
	background-color: #071E3E; /* testing */
	width:100%;

}


.main {
	margin-top: 50px;
	padding-top: 0;
}

.striped {
	color: #223;
	background: linear-gradient(#C42939 50%, #ecebe6 50%);
	background-size: 100% 75px;
	margin-top: 0;
	width: 100%;
	height: 100%;
	

}

.col-md-3 {
	background: whitesmoke;
	color: #082D62;
	height: 600px;
	overflow: hidden;
	padding: 0;
	margin-top: 0;
	margin: 0;
	border: none;
}

.col-md-3 h3 {
	padding-top: 0;
	margin-top: 5px;
}

#trumpbar {
	margin: 0;
	padding: 0;
	border: none;
}

#rumpbar {
	margin: 0;
	padding: 0;
	border: none;
}

.col-md-6 {
	background: #C42939;
	height: 600px;
	padding: 0;
	margin-top: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	box-sizing: border-box;
	padding-left: 0;
	padding-right: 0;
}

#display {
	margin: 0;
	padding: 0;
	border: none;
}

.anim {
	height: 88%;
	/*height: 90%;*/
	/*width: 100%;*/
}

.anim img {
	height: 234px;
	width: 90px;
}

/*---------------------------- Main Images and Animation ----------------------------*/
.mainimg {
	/*width: 80px;
	height: 208px;*/
	/*bottom: -50px;*/
	position: relative;
	bottom: -224px;

}
/*
#trumpmainimg {
	left: -500px;
}
*/

.animtext {
	color: white;
}
/*
.initial-shake {
	@include do-shake('initial-shake', 0, 5, 0, 1000ms); 
}
*/

#trumpmainimg1 {
	/* Trump loses, to the left and smaller */
	animation: notawintrump ease 4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}

#trumpmainimg0 {
	/* Trump wins, up and larger */
	animation: successtrump ease 4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	/*animation-delay: 5s;*/
}

#rumpmainimg1 {
	/* rump wins, up and larger */
	animation: successrump ease 4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
	/*animation-delay: 5s;*/

}

#rumpmainimg0 {
	/* rump loses, to the right and smaller */
	animation: notawinrump ease 4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}

@keyframes successrump{
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, -150px) scaleX(1.5) scaleY(1.5);
	}
}

@keyframes successtrump{
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, -150px) scaleX(1.5) scaleY(1.5);
	}
}

@keyframes notawintrump{
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100px,0) scaleX(0.5) scaleY(0.5);
	}
}

@keyframes notawinrump{
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(100px,0) scaleX(0.5) scaleY(0.5);
	}
}

/*---------------------------------------------------------------------------------*/


/*----------------------------- VOTE ----------------------------------------- */
.vote {
	height: 9%;
	width: 100%;
	background: #071E3E;
	padding: 4px;
	padding-top: 0;
	padding-left: 7px;
}

.vote div {
	float: left;
	width: 33%;
}
.vote h1 {
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;

}
#votetext {
	float: all;
}

.vote label {
	background: #071E3E;
	margin-top: 10px;
	margin-bottom: 0px;
}

#vlabel {
	background-color: #071E3E;
}

#tbutton {
	float: left;
	background: #C42939;
	border-color: #C42939;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 100%;
}

#tbutton:hover {
	background: #AD2330;
	border-color: #AD2330;
}

#tbutton:active {
	background: #62151D;
	border-color: #62151d;
}

#rbutton {
	float: right;
	margin-top: 10px;
	margin-bottom: 0px;
	width:100%;
}
/*---------------------------------------------------------------------------- */
/*
.tweet {
	/*background: #777;
	height: 100px;
	padding-bottom: 50px;
	overflow: hidden;
	/*margin-bottom: 40px;
}
*/
.test {
	height: 130px;
	margin-bottom: 40px;
	background: #777;

}
.spacer {
    height: 40px;
}
.data {
	width: 100%;
	height: 80px;
	background: #557;
	padding: 0;
}
/*===================== Lines and Bars ==================================== */
.uline {
	width: 38.19%;
	height: 80px;
	background: #ecebe6;
	/*background: beige;*/
	float: left;
	color: #fff;
}

.ubar {
	width: 23.6%;
	height: 80px;
	background: #ecebe6;
	/*background: bisque;*/
	float: left;
	color: grey;
}

.wline {
	width: 23.6%;
	height: 80px;
	background: #ecebe6;
	/*background: antiquewhite;*/
	float: left;
	color: #fff;
}

.wbar {
	width: 14.59%;
	height: 80px;
	background: #ecebe6;
	/*background: burlywood;*/
	float: left;
	color: grey;
}

.xaxis path,
.xaxis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
	font-family: sans-serif;
	font-size: 8px;
}
/*==================================================================== */
.foot {
	background: #071E3E;
	width: 100%;
	height: 80px;
	border-top: solid 2px;
	
}

/* Social ******************************************************** */
.buttonholder {
	float: right;
	margin-top: 25px;
	margin-right: 10px;
}

.btn.btn-facebook {
	border-radius: 4px;
	color: #FFF;
	background: #3B5998;
	margin-right: 2px
}

.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
	color: #FFF;

}

.btn.btn-twitter {
	border-radius: 4px;
	color: #FFF;
	background: #4099FF;
	margin-right: 2px;
}

.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
	color: #FFF;
}

.btn.btn-google-plus {
	border-radius: 4px;
	color: #FFF;
	background: #D34836;
}

.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus {
	color: #FFF;
}

.btn.btn-reddit {
	border-radius: 4px;
	color: #FFF;
	background: #FF4500;
	margin-right: 2px;
}

/* ================= Modal ========================== */
.md-content {
	box-shadow: 0 0 0 10px #C42939, 0 0 0 15px #ecebe6, 0 0 0 20px #C42939;
	border-radius: 5px;
	background-color: #071E3E;
	/*maxWidth: 500px;
	height: 50%;
	width: 50%; */

}
 
.modal-header {
	background: #071E3E;
	height: 100%;
	border-bottom: 0;
	color: white;

}

.modal-body {
	background: #071E3E;
	color: white;
	height: 400px;
	overflow: hidden;
}

.modal-body a {
	float:right;
	color: white;
}


.modal-header .close {
	color: white;
}

.closeButton {
	color: white;


}

/* ======================= Modal Animation ============================= */

/**
 * Typing animation
 */

@keyframes typing {
	from { width: 0 }
}

@keyframes caret {
	50% { border-right-color: transparent; }
}

.modal-body h1 {
	font: bold 200% Consolas, Monaco, monospace;
	/*width: 8.25em;*/
	width: 16ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: .05em solid;
	animation: typing 2.5s steps(16),
	           caret 1s steps(1) infinite;
}

.modal-body img {
	position: absolute;
	left: -500px;
	/*transform: translate(500px);*/
}
.modal-body img {
	animation: fadein 3s;
	animation: moved 2.5s ease;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

@keyframes fadein {
	from {opacity: 0;}
}

@keyframes moved {
	100% {
		transform: translate(550px);
	}
}
/*============================= Trumppage Rumppage Aboutpage ====================================*/

#theT {
	padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top:0;
	color: #ecebe6;
}

#theT > .data {
	margin-top: 15px;
	border-top: 5px;
}

#theR {
	padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top:0;
	color: #ecebe6;
}

#theR > .data {
	margin-top: 15px;
	border-top: 5px;
}

#theA {
	padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top:0;
}

.pagevote {
	width: 100%;
	float: none;
	margin-top: 25px;
	margin-bottom: 0;
	background: #071E3E;
	overflow: auto;

}

.onprinciple {
	width: 98%;
	float: none;
	margin-top: 25px;
	margin-bottom: 0;
	background: dodgerblue;
	overflow: auto;
	margin: 0 auto;

}

.princip div {
	float: left;
	width: 33%;
}

.innerdirect {
	width: 98%;
	float: none;
	margin-top: 25px;
	margin-bottom: 0;
	background: cornflowerblue;
	overflow: auto;
	margin: 0 auto;

}

.secondary {
	/*position: fixed;*/
	/*z-index: 999;*/
	height: 560px;
	width:97%;
	box-sizing: border-box;
	/*border: #ff0000 solid 5px;*/
	box-shadow: 0 0 0 10px #C42939, 0 0 0 15px #ecebe6, 0 0 0 20px #C42939;
	margin-top: 72px;
	border-bottom: 0;
	overflow: auto;
}

#trumplist {
	list-style-image: url("../../images/check.png");
	list-style-position: inside;
	font-size: 18px;
}

#trumplist li {
	line-height: 30px;
	/*background: url("../../images/check.png") no-repeat -5px 7px transparent;
	list-style: none;
	margin: 0;
	padding: 0px 0px 1px 24px;
	vertical-align: middle;*/
}

#rumplist {
	list-style-image: url("../../images/x.png");
	list-style-position: inside;
	font-size: 18px;
}

#rumplist li {
	line-height: 30px;
}


#aboutfoot {
	margin-top: 20px;
}


.pagegif {
	float: left;
}
#trumpgif {
	width: 
}



/*============================== Media Queries ===============================*/ 
@media (max-width: 767px) { 
	.striped {
		margin-top: 200px;
	}

}








